#BACKEND
ALLOW_ORIGINS=http://localhost:5173,http://192.168.49.2:30073

# JWT
SECRET_KEY=smDYtwUB^5y^.T,y^,=9<DHdhmz1WhuLHh#PMcbfCTw
ALGORITHM=HS256

# POSTGRES
POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb
POSTGRES_PORT=5432
