.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 30px

}

.actions {
  display: flex;
  gap: 16px;
}
